@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
/*
*
*Initaial Variables
*/
/*
*
*Font size variables
*/
/*
*
*Width variables
*/
/*
*
* Primary Styles
*/
* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #141820;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  color: #fff;
}

h1 {
  font-size: 55px;
  line-height: 1.2;
  overflow-y: hidden;
}

h2 {
  font-size: 35px;
  line-height: 1.2;
  overflow-y: hidden;
}

h5 {
  letter-spacing: 2px;
  font-size: 12px;
  color: #B4B7BE;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
  display: flex;
}

/*
*
* Navbar styles
*/
.navbar {
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar__left {
  width: 60%;
  display: flex;
  gap: 50px;
}
.navbar__left__logo {
  display: flex;
  align-items: center;
}
.navbar__left__list {
  width: 70%;
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar__left__list li {
  font-size: 16px;
  font-weight: 500;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__right__search {
  width: 110px;
  display: flex;
}
.navbar__right__search input {
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
}
.navbar__right__button {
  background: #D70B54;
  padding: 10px 20px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

/*
* BANNER SECTION
* 
*/
.banner {
  max-width: 90%;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 40px;
}
.banner .content__heading {
  margin-bottom: 10px;
  width: 70%;
}
.banner .content__para {
  font-size: 17px;
  color: #B4B7BE;
}
.banner .button {
  margin-top: 35px;
  display: flex;
  gap: 15px;
}
.banner .button button {
  background: transparent;
  display: flex;
  outline: none;
  color: #fff;
  gap: 5px;
  outline: none;
  align-items: center;
  cursor: pointer;
}
.banner .button__view {
  border: 1px solid #fff;
  padding: 10px 15px;
}
.banner .button__contact {
  border: 0;
}
.banner .button__contact svg {
  background: #EDF054;
  color: #000;
  border-radius: 50%;
  padding: 10px;
}

.banner-img {
  height: 500px;
}
.banner-img img {
  width: 100%;
  margin-top: -230px;
  height: 900px;
  z-index: 10;
  position: absolute;
}

/*
* BANNER SECTION
* 
*/
.subline {
  background-color: #D70B54;
  z-index: 50;
  margin-top: 27px;
}
.subline ul {
  display: flex;
  padding: 30px 10px;
  justify-content: space-between;
  align-items: center;
}
.subline ul li {
  font-size: 13PX;
}

/*
* SECVICES SECTION
* 
*/
.services {
  max-width: 70%;
  margin: 80px auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
}
.services__about {
  background: url("../Assets/about-bg.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right;
}
.services__about h2 {
  width: 60%;
  margin: 10px 0 15px 0;
}
.services__about h5 {
  color: #B4B7BE;
  margin-top: 50px;
  padding-top: 30px;
}
.services__about button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 25px;
  margin-top: 25px;
}
.services__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  row-gap: 80px;
  margin-top: 50px;
  padding-top: 30px;
}
.services__items img {
  width: 25px;
  height: 25px;
}
.services__items h4 {
  width: 65%;
}

/*
* 
* ABOUT SECTION
*/
.about {
  max-width: 70%;
  margin: 80px auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}
.about__left {
  width: 95%;
}
.about__right--img {
  width: 80%;
}
.about__right--img img {
  height: 140px;
}
.about__right--content {
  margin: 30px 0 0 65px;
}
.about__right--content h2 {
  margin: 8px 0 15px 0;
}
.about__right--content h5 {
  color: #B4B7BE;
}
.about__right--content p {
  font-size: 14px;
}
.about__right--content ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__right--content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.about__right--content ul li img {
  width: 40px;
}

/*
* 
* ADBERTISE SECTION
*/
.advertise {
  margin: 40px 0 10px 0;
}
.advertise h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 65px;
  color: #fff;
  opacity: 6%;
}
.advertise__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.advertise__items--img:nth-child(2) {
  position: relative;
}
.advertise__items--tag {
  position: absolute;
  bottom: 35px;
  left: 35px;
  background: #fff;
  color: #000;
  padding: 10px 15px;
}
.advertise__items--img img {
  width: 100%;
}

/*
* 
* EXPERTISE SECTION
*/
.expertise {
  max-width: 70%;
  margin: 80px auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.expertise__left {
  width: 85%;
}
.expertise__left h2 {
  margin: 8px 0 25px 0;
}
.expertise__left p {
  margin-bottom: 20px;
  color: #B4B7BE;
}
.expertise__left--email {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 4px;
}
.expertise__left--email__icon {
  background: #22262D;
  padding: 9px;
  border-radius: 50%;
  display: flex;
}
.expertise__right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.expertise__right__progressarea--title {
  display: flex;
  justify-content: space-between;
}
.expertise__right__progressarea--title h4 {
  font-size: 18px;
}
.expertise__right__progressarea--bar {
  width: 100%;
  background: #2b2f36;
  height: 6px;
  border-radius: 10px;
  margin-top: 10px;
}
.expertise__right__progressarea--bar__progress {
  background: #3FABE3;
  height: 6px;
}
.expertise__right__progressarea--bar__progress:nth-child(1) {
  width: 75%;
}
.expertise__right__progressarea--bar__progress:nth-child(2) {
  width: 82%;
}
.expertise__right__progressarea--bar__progress:nth-child(3) {
  width: 64%;
}
.expertise__right__progressarea--bar__progress:nth-child(4) {
  width: 72%;
}
.expertise__counterarea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*
* 
* COUNTER SECTION
*/
.counter {
  max-width: 70%;
  margin: 80px auto 40px;
  display: flex;
  justify-content: space-between;
}
.counter__card {
  border-left: 1px solid #EDF054;
  padding: 5px 5px 5px 25px;
}
.counter__card h3 {
  font-size: 35px;
  font-weight: 400;
}
.counter__card p {
  text-transform: uppercase;
  font-size: 12px;
  color: #B4B7BE;
}

/*
* 
* TEAM SECTION
*/
.team {
  max-width: 70%;
  margin: 150px auto 40px;
  text-align: center;
}
.team__heading {
  width: 50%;
  margin: 0 auto;
}
.team__members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  overflow-y: hidden;
}
.team__members--card {
  background-color: #32363F;
  width: 100%;
  height: 100%;
  width: 208px;
  height: 220px;
  overflow: hidden;
  scrollbar-width: 0;
  position: relative;
}
.team__members--card img {
  width: 100%;
  height: auto;
}
.team__members--card__tag {
  visibility: hidden;
}
.team__members--card:hover {
  cursor: pointer;
  height: 220px;
}
.team__members--card:hover img {
  opacity: 30%;
  width: 100%;
  height: 100%;
}
.team__members--card:hover div {
  width: 190px;
  visibility: visible;
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 100;
  background-color: #fff;
  color: #141820;
  text-align: left;
  padding: 10px 15px;
}
.team__members--card:nth-child(8) {
  display: flex;
  flex-direction: column;
  background-color: #32363F;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.team__members--card:nth-child(8) span {
  background: #EDF054;
  padding: 7px 11px;
  border-radius: 100%;
  color: #000;
}
.team__members--card:nth-child(8) span svg {
  margin-top: 2px;
}
.team__members--card:nth-child(8) p {
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */