@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');


/*
*
*Initaial Variables
*/ 
$primary_backgroundColor: #141820;
$secondary_backgroundColor: #D70B54;
$third_backgroundColor: #EDF054;
$primary_textColor: #fff;
$secondary_textColor: #B4B7BE;
$primary_fontFamily: 'Manrope',
sans-serif;
$secondary_fontFamily: '';

/*
*
*Font size variables
*/
$main_heading_fontSize: 50px;
$sub_heading_fontSize: 40px;
$paragraph_fontSize: 16px;
$subTitle_fontSize: 20px;
$items_fontSize: 14px;

/*
*
*Width variables
*/
$header_width: 90%;
$body_content_width: 70%;


/*
*
* Primary Styles
*/

*{
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: $primary_backgroundColor;
    // max-width: $header_width;
    margin: 0 auto;
    font-family: $primary_fontFamily;
    color: $primary_textColor;
}
h1{
    font-size: $main_heading_fontSize;
}

h2{
    font-size: $sub_heading_fontSize;

}

p{
    font-size: $paragraph_fontSize;
}
a{
    text-decoration: none;
    color: $primary_textColor;
}
ul li{
    list-style: none;
    display: flex;
}

/*
*
* Navbar styles
*/
.navbar{
    max-width: $header_width;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &__left{
        width: 60%;
        display: flex;
        gap: 30px;

        &__logo {
                display: flex;
                align-items: center;
        }

        &__list {
            width: 70%;
            display: flex;
            gap: 20px;
            align-items: center;
        
            li {
                font-size: $items_fontSize;
            }
        }
    }
    
    &__right{
        display: flex;
        align-items: center;
        gap: 10px;

        &__search{
            width: 110px;
            display: flex;

            input{
                background: transparent;
                border: 0;
                outline: none;
                color: $primary_textColor;
            }
        }

        &__button{
            background: $secondary_backgroundColor;
            padding: 10px 20px;
            border: 0;
            outline: none;
            color: $primary_textColor;
            font-size: $paragraph_fontSize;
            cursor: pointer;
            font-weight: 600;
        }
    }
}


/*
* BANNER SECTION
* 
*/
.banner{
    max-width: $header_width;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 40px;

    .content{
        &__heading {
                margin-bottom: 10px;
                width: 70%;
            }
            &__para {
                font-size: $subTitle_fontSize;
                color: $secondary_textColor;
            }
    }
    .button{
        margin-top: 35px;
        display: flex;
        gap: 15px;

        button{
            background: transparent;
            display: flex;
            outline: none;
            color: $primary_textColor;
            gap: 5px;
            outline: none;
            align-items: center;
            cursor: pointer;
        }

        &__view{
            border: 1px solid $primary_textColor;
            padding: 10px 15px;
        }
        &__contact{
            border: 0;

            svg{
                background: $third_backgroundColor;
                color: #000;
                border-radius: 50%;
                padding: 10px;
            }
        }
    }
            
}

.banner-img{
    height: 500px;

    img{
        width: 100%;
        margin-top: -230px;
        height: 900px;
        z-index: 10;
        position: absolute;

    }
}

/*
* BANNER SECTION
* 
*/
.subline {
    background-color: $secondary_backgroundColor;
    z-index: 50;
    margin-top: 27px;

    ul{
        display: flex;
        padding: 30px 10px;
        justify-content: space-between;
        align-items: center;

        li{
            font-size: 13PX;
        }
    }
}


/*
* ABOUT AND SECVICES SECTION
* 
*/
.services{
    max-width: $body_content_width;
    margin: 80px auto 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    &__about{
        background: url('../Assets/about-bg.png');
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: right;

            h5 {
                    color: $secondary_textColor;
            }

            h2 {
                    width: 60%;
            }

            button {
                    background-color: transparent;
                    border: 1px solid $primary_textColor;
                    color: $primary_textColor;
                    padding: 10px 25px;
                    margin-top: 25px;
            }
    }
    
}
