@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");
/*
*
*Initaial Variables
*/
/*
*
*Font size variables
*/
/*
*
*Width variables
*/
/*
*
* Primary Styles
*/
* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #141820;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  color: #fff;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  line-height: 1.2;
  overflow-y: hidden;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

ul li {
  list-style: none;
  display: flex;
}

/*
*
* Navbar styles
*/
.navbar {
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar__left {
  width: 60%;
  display: flex;
  gap: 30px;
}
.navbar__left__logo {
  display: flex;
  align-items: center;
}
.navbar__left__list {
  width: 70%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar__left__list li {
  font-size: 16px;
}
.navbar__right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar__right__search {
  width: 110px;
  display: flex;
}
.navbar__right__search input {
  background: transparent;
  border: 0;
  outline: none;
  color: #fff;
}
.navbar__right__button {
  background: #D70B54;
  padding: 10px 20px;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

/*
* BANNER SECTION
* 
*/
.banner {
  max-width: 90%;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 40px;
}
.banner .content__heading {
  margin-bottom: 10px;
  width: 70%;
}
.banner .content__para {
  font-size: 20px;
  color: #B4B7BE;
}
.banner .button {
  margin-top: 35px;
  display: flex;
  gap: 15px;
}
.banner .button button {
  background: transparent;
  display: flex;
  outline: none;
  color: #fff;
  gap: 5px;
  outline: none;
  align-items: center;
  cursor: pointer;
}
.banner .button__view {
  border: 1px solid #fff;
  padding: 10px 15px;
}
.banner .button__contact {
  border: 0;
}
.banner .button__contact svg {
  background: #EDF054;
  color: #000;
  border-radius: 50%;
  padding: 10px;
}

.banner-img {
  height: 500px;
}
.banner-img img {
  width: 100%;
  margin-top: -230px;
  height: 900px;
  z-index: 10;
  position: absolute;
}

/*
* BANNER SECTION
* 
*/
.subline {
  background-color: #D70B54;
  z-index: 50;
  margin-top: 27px;
}
.subline ul {
  display: flex;
  padding: 30px 10px;
  justify-content: space-between;
  align-items: center;
}
.subline ul li {
  font-size: 13PX;
}

/*
* SECVICES SECTION
* 
*/
.services {
  max-width: 70%;
  margin: 80px auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.services__about {
  background: url("../Assets/about-bg.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: right;
}
.services__about h2 {
  width: 60%;
  margin: 10px 0 15px 0;
}
.services__about h5 {
  color: #B4B7BE;
}
.services__about button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 25px;
  margin-top: 25px;
}
.services__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  row-gap: 80px;
}
.services__items img {
  width: 25px;
  height: 25px;
}
.services__items h4 {
  width: 65%;
}

/*
* 
* ABOUT SECTION
*/
.about {
  max-width: 70%;
  margin: 80px auto 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 30px;
}
.about__left {
  width: 95%;
}
.about__right--img {
  width: 80%;
}
.about__right--img img {
  height: 140px;
}
.about__right--content {
  margin: 30px 0 0 65px;
}
.about__right--content h2 {
  margin: 8px 0 15px 0;
}
.about__right--content h5 {
  color: #B4B7BE;
}
.about__right--content p {
  font-size: 14px;
}
.about__right--content ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__right--content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.about__right--content ul li img {
  width: 40px;
}

/*
* 
* ADBERTISE SECTION
*/
.advertise {
  margin: 40px 0 10px 0;
}
.advertise h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 65px;
  color: #fff;
  opacity: 6%;
}/*# sourceMappingURL=style.css.map */