@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

/*
*
*Initaial Variables
*/
$bg-primary: #141820;
$bg-secondary: #171B23;
$bg-third: #1B1F28;
$bg-btn-secondary: #D70B54;
$bg-btn-primary: #EDF054;
$primary_textColor: #fff;
$secondary_textColor: #B4B7BE;
$primary_fontFamily: 'Manrope',
    sans-serif;
$secondary_fontFamily: '';

/*
*
*Font size variables
*/
$main_heading_fontSize: 55px;
$sub_heading_fontSize: 35px;
$paragraph_fontSize: 14px;
$subTitle_fontSize: 17px;
$items_fontSize: 16px;


/*
*
*Width variables
*/
$header_width: 90%;
$body_content_width: 70%;